body {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: black;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgb(0, 0, 0, 0.5);
    }

.screen {
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 20px;
}

#screenField {
    background-color: rgb(255, 255, 255);
    width: 260px;
    border-radius: 15px;
    font-size: 20px;    
    display:flex;
    align-items: center;
    justify-content: flex-end;
    
}
#screenField > p {
    margin-right: 20px;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: stretch;
    width: auto;
    gap: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.buttons > button {
    background-color: rgb(250, 250, 243);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
    font-size: 20px;
    transition: ease 100ms;
    box-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons .special {
    grid-column: span 2; /* Розтягує елемент на дві колонки */
    width: auto;
    height: 50px;
    border-radius: 25px;
}

button:active {
    background-color: rgb(150, 155, 149);
    color:whitesmoke;
    box-shadow: 3px 3px 6px rgb(255, 255, 255, 0.5);;
}

